version: "3.9"

services:
  app:
    image: thecrafter22/python-video-app:latest
    container_name: python_video_app
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - ./app:/app
    environment:
      - ENV=production
